* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "roboto slap", serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

header, footer{
    color: beige;
    background-color: black;
    width: 100vw;
}

nav{
    padding: 1cm;
    width: 100%;
}

.nav-ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

nav li {
    list-style: none;
}

#search{
    border: none;
    border-radius: 100px;
    padding: 8px 0 8px 29px;
    font-size: medium;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

,main{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;

}

.section2{
    width: 70%;
    gap: 4rem;
}
.heroproduct{
    border-radius: 10px;

}
.s2_detels{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.section_prdt{
    display: flex;
    gap: 1rem;

}

.price{
    flex-direction: column;
    padding-top: 10cm;

}

.price p{
    font-size: large;
    font-weight: bolder;

}

.s1ProductDetails,
.s2_detailsP {
    text-align: justify;

}

.btnPrice,
.price {
    display: flex;
    gap: 1rem;

}

.section3 {
    width: 100%;
    background-color: black;

}

.section3_d1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

}

.carouse1-controls .carouse1-btn{
    color: white;

}

